
{% macro displaySources(sources_list)%}
    {% for source in sources_list %}
    <button type="button" class="mdl-chip">
            <span class="mdl-chip__text"> <a  class="btn" href="/sources/articles/{{source.id}}">{{source.name}}</a>
                {{source.description}}
                </span>
        </button>
    {% endfor %}
{% endmacro %}

{% macro displayArticles(articles_list)%}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
<center><h1>Top Headlines</h1></center>
    {% for article in articles_list %}
<div class="container-fluid">
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            
            <img  src="{{article.author}}"  class="imgsrc" alt="image not provided by sited">
        </div>
        <div class="mdl-card__supporting-text">
            <p>{{article.description}}</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" {{article.author}}>
            <P>FULL ARTILE</P> 
          </a>
          <br>
        <p><strong>Published by </strong><u>{{article.Url}}</u> <strong>At</strong> <u>{{article.urlToImage}}</u></p>
        </div>
        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
          </button>
        </div>
    </div>
      <br>
    </div>
    {% endfor %} 
{% endmacro %}
  

